.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.home__header a {
    margin-right: 15px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
}

.home__header a:hover {
    text-decoration: underline;
}

.home__headerRight {
    display: flex;
    align-items: center;
    min-width: 13vw;
    margin-top: -10px;
    margin-right: -5px;
    justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
    margin-right: 15px;
}

.home__body {
    flex: 1;
    display: flex;
    margin-top: 5.6%;
    flex-direction: column;
}

.home__body > img {
    object-fit: contain;
    height: 90px;
}